h1 {
  text-align:center;
  border-style:dotted;
  text-decoration: underline;
  letter-spacing: 10px;
}

p {
  text-align:center;
  border-style:dashed;
}
img {
  img-orientation:center;
  border-style:solid;
  width: 50%;
  }
