nav,a{
  color:green;
}

nav,li{
  color:yellow;

}
.ul_li_class{
  color:purple;
}
.ul_li_class a{
  color:red;
}
#li_lab_4{
  color:orange;
}
#a_lab_4{
  color:purple;
}
#ul_li5_ a{
  color:yellow;
}
