h1 {
  border-style: ridge;
  border-color: blue;
  letter-spacing: 10px;
  text-align: center;
}

div#output{
  background-color: lightblue;
  border-style: solid;
  border-color: blue;
}

div#input{
  background-color: pink;
  border-style: solid;
  border-color: blue;
}

body {
  background-color: green;
  text-align: center;
}

h3 {
      text-decoration: underline;
      text-align: center;
}


#output p {
  width: 50px;
  position: relative;
  display: inline;
  padding-left;
}

#output {
}
