img{
    border-style:solid;
}

h1 {
  border-style: ridge;
  border-color: black;
  letter-spacing: 10px;
  text-align: center;
}

div#output{
  background-color: green;
  border-style: solid;
  border-color: black;
}

body {
  background-color: blue;
  text-align: center;
}

h2 {
      text-decoration: underline;
      text-align: center;
}
