h1 {
  border-style: ridge;
  border-color: orange;
  letter-spacing: 10px;
  text-align: center;
}

body {
  background-color: pink;
  text-align: center;
}

h2 {
      text-decoration: underline;
      text-align: center;
}

img{
    width: 50%;
    border-style:solid;
  }
